Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
/src/.vs/PubSub/v15/Server/sqlite3
/src/EsentTests/Fakes/TestUtils.fakes
/src/EsentTests/FakesAssemblies/TestUtils.Fakes.dll
/src/EsentTests/FakesAssemblies/TestUtils.Fakes.fakesconfig
/src/EsentTests/FakesAssemblies/TestUtils.Fakes.messages
/src/EsentTests/FakesAssemblies/TestUtils.Fakes.xml
/src/Tests/Fakes
/src/Tests/FakesAssemblies
/src/Backup/PubSub.sln
