<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <switches>
      <!--Off Error Warning Info Verbose -->
      <add name="General" value="1" />
      <add name="Esent" value="Verbose" />
      <add name="Msmq" value="0" />
    </switches>
  </system.diagnostics>
</configuration>